# Load and pre-process our training dataset

In [13]:
from sklearn import preprocessing
import numpy as np
import pandas as pd

In [14]:
# Load from s3 instead?
df = pd.read_csv('.././Data/xMonths_SimulatedStaff.csv')
#../

In [15]:

# No missing dates so we're just setting the time_idx equal to index. Should probably add some mathematical func here
# used to determine the sequence of samples.
# If no missing observations, the time index should increase by +1 for each subsequent sample. 
df["time_idx"] = df.index

In [16]:
dateTime = pd.to_datetime(df['Timestamp']).dt

In [17]:
# Adding some random constant key group
df["constant_group"] = "group_1"

#Change column value to all be floats
df['transaction_count'] = df['transaction_count'].astype(float)

In [18]:
# Add year, month, day, and hour columns
df["year"] = dateTime.year
df["month"] = dateTime.month
df["day"] = dateTime.day
df["hour"] = dateTime.hour

df.head(10)

,Timestamp,subtotal,transaction_count,rain,temperature,holiday,oil_price,workforce_type_1,workforce_type_2,workforce_type_3,workforce_type_4,time_idx,constant_group,year,month,day,hour
0,17/05/2021 10:00,428.03,11.0,0.0,12.7,False,69.62,1,2,3,0,0,group_1,2021,5,17,10
1,17/05/2021 11:00,324.78,15.0,0.0,13.4,False,69.62,1,2,3,1,1,group_1,2021,5,17,11
2,17/05/2021 12:00,279.75,12.0,0.0,13.6,False,69.62,1,2,3,1,2,group_1,2021,5,17,12
3,17/05/2021 13:00,1630.59,29.0,0.0,14.1,False,69.62,1,2,3,1,3,group_1,2021,5,17,13
4,17/05/2021 14:00,1166.10,18.0,0.0,15.9,False,69.62,1,2,3,1,4,group_1,2021,5,17,14
5,17/05/2021 15:00,990.40,13.0,0.0,13.9,False,69.62,1,2,3,1,5,group_1,2021,5,17,15
6,17/05/2021 16:00,613.87,12.0,1.2,9.8,False,69.62,1,2,3,1,6,group_1,2021,5,17,16
7,17/05/2021 17:00,533.75,11.0,0.0,11.2,False,69.62,1,2,3,0,7,group_1,2021,5,17,17
8,17/05/2021 18:00,33.95,2.0,0.1,12.0,False,69.62,1,2,3,0,8,group_1,2021,5,17,18
9,18/05/2021 10:00,433.96,15.0,0.0,13.2,False,69.01,1,2,3,0,9,group_1,2021,5,18,10

In [19]:
# convert column workforce_type_1 to float
df['workforce_type_1'] = df['workforce_type_1'].astype(float)
df['workforce_type_2'] = df['workforce_type_2'].astype(float)
df['workforce_type_3'] = df['workforce_type_3'].astype(float)
df['workforce_type_4'] = df['workforce_type_4'].astype(float)

In [20]:
df = df.drop(['Timestamp'], axis=1)

In [21]:
# convert constant_group to numerical value
le = preprocessing.LabelEncoder()
df['constant_group'] = le.fit_transform(df['constant_group'])
df['holiday'] = le.fit_transform(df['holiday'])

In [22]:
df

,subtotal,transaction_count,rain,temperature,holiday,oil_price,workforce_type_1,workforce_type_2,workforce_type_3,workforce_type_4,time_idx,constant_group,year,month,day,hour
0,428.03,11.0,0.0,12.7,0,69.62,1.0,2.0,3.0,0.0,0,0,2021,5,17,10
1,324.78,15.0,0.0,13.4,0,69.62,1.0,2.0,3.0,1.0,1,0,2021,5,17,11
2,279.75,12.0,0.0,13.6,0,69.62,1.0,2.0,3.0,1.0,2,0,2021,5,17,12
3,1630.59,29.0,0.0,14.1,0,69.62,1.0,2.0,3.0,1.0,3,0,2021,5,17,13
4,1166.10,18.0,0.0,15.9,0,69.62,1.0,2.0,3.0,1.0,4,0,2021,5,17,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5062,4779.11,82.0,0.0,0.0,0,83.45,1.0,4.0,5.0,0.0,5062,0,2022,11,30,14
5063,2460.84,54.0,0.0,0.0,0,83.45,1.0,4.0,5.0,0.0,5063,0,2022,11,30,15
5064,2026.30,43.0,0.0,0.0,0,83.45,1.0,4.0,5.0,0.0,5064,0,2022,11,30,16
5065,2346.13,44.0,0.0,0.0,0,83.45,1.0,4.0,5.0,0.0,5065,0,2022,11,30,17
5066,401.19,6.0,0.0,0.0,0,83.45,1.0,4.0,5.0,0.0,5066,0,2022,11,30,18

In [23]:
def GetDataset():
    return df